*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
#main{
    height: 100%;
    position: relative;
}
#nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
#nav_part_1{
    display: flex;
    align-items: center;
    gap: 4vw;
    padding:1vw  8vw;
}
#nav_part_1>h3:hover{
    background-color: lightgreen;
    color: white;
    padding: 24px 10px; 
    cursor: pointer;
}
#nav_part_1>img{
    height: 3vw;
}
#nav_part_1>h3{
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#nav_part_2{
    display: flex;
    gap: 1vw;
    padding:1.2vw;
    transform: translateX(-8vw);
}
#nav_part_2>img{
    height:1.8vw ;
}
#scrolling{
    background-color:#46BC5b ;
    padding: 0.5vw 1vw;
    font-size: 18px;
    color: white;
    font-family:  "Roboto", "Helvetica", "Arial", sans-serif;;
}
#content1{
    width: 100%;
    display: flex;
}
#content1>img{
    width: 100%;
    height: 550px;
}
#content2{
    height: 100%;
    justify-content: center;
    margin-top: 35px;
}
#content2>h2{
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    text-decoration: underline;
}
#card{
    margin-top: 54px;
    height: 165px;
    width: 1200px;
    display: flex;
    border-radius: 5px;
    padding: 1vw;
    border-bottom: 1px solid black;
    margin-left: 144px;
}
#card>img{
    height: 164px;
    width: 40%;
    margin-top: -15px;
    margin-right:auto;
}
#card-info{
    transform: translateX(-100%);
}
#card-info>h3{
    font-size: 1.2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#card-info>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}
#card-info>button{
    background-color: rgb(4, 103, 4);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    height: 30px;
    cursor: pointer;
}
#card2{
    margin-top: 54px;
    height: 165px;
    width: 1200px;
    display: flex;
    border-radius: 5px;
    padding: 1vw;
    border-bottom: 1px solid black;
    margin-left: 144px;
}
#card2>img{
    height: 164px;
    width: 40%;
    margin-top: -15px;
    margin-left: auto;
    margin-right: 0;
}
#card-info2{
    transform: translateX(-1%);
}
#card-info2>h3{
    font-size: 1.2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#card-info2>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}
#card-info2>button{
    background-color: rgb(4, 103, 4);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    height: 30px;
    cursor: pointer;
}
#card3{
    margin-top: 54px;
    height: 165px;
    width: 1200px;
    display: flex;
    border-radius: 5px;
    padding: 1vw;
    border-bottom: 1px solid black;
    margin-left: 144px;
}
#card3>img{
    height: 164px;
    width: 40%;
    margin-top: -15px;
    margin-right:auto;
}
#card-info3{
    transform: translateX(-310%);
}
#card-info3>h3{
    font-size: 1.2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#card-info3>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}
#card-info3>button{
    background-color: rgb(4, 103, 4);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    height: 30px;
    cursor: pointer;
}
#card4{
    margin-top: 54px;
    height: 165px;
    width: 1200px;
    display: flex;
    border-radius: 5px;
    padding: 1vw;
    border-bottom: 1px solid black;
    margin-left: 144px;
}
#card4>img{
    height: 164px;
    width: 40%;
    margin-top: -15px;
    margin-left: auto;
    margin-right: 0;
}
#card-info4{
    transform: translateX(-1%);
}
#card-info4>h3{
    font-size: 1.2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#card-info4>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}
#card-info4>button{
    background-color: rgb(4, 103, 4);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    height: 30px;
    cursor: pointer;
}
#content3{
    padding: 2vw 8vw;
    background-color: white;
    margin-top: 10vw;
    margin-bottom: 2vw;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
}
#content3>h2{
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    text-decoration: underline;
}
.new-card{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1vw;
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: 350px;
}
.new-card:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.new-card>img{
    height: 250px;
    width: 400px;
    border-radius: 4px;
    margin-right: -1vw;
    margin-left: -1vw;
    margin-bottom: -100px;
}
.new-info{
    transform: translateY(-118%);
}
.new-info>h3{
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-info>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-card2{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1vw;
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: 350px;
    margin-left: 450px;
    margin-top: -350px;
}
.new-card2:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.new-card2>img{
    height: 250px;
    width: 400px;
    border-radius: 4px;
    margin-right: -1vw;
    margin-left: -1vw;
    margin-bottom: -100px;
}
.new-info2{
    transform: translateY(-118%);
}
.new-info2>h3{
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-info2>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-card3{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1vw;
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: 350px;
    margin-left: 900px;
    margin-top: -350px;
}
.new-card3:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.new-card3>img{
    height: 250px;
    width: 400px;
    border-radius: 4px;
    margin-right: -1vw;
    margin-left: -1vw;
    margin-bottom: -100px;
}
.new-info3{
    transform: translateY(-118%);
}
.new-info3>h3{
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-info3>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-card4{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1vw;
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: 350px;
}
.new-card4:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.new-card4>img{
    height: 250px;
    width: 400px;
    border-radius: 4px;
    margin-right: -1vw;
    margin-left: -1vw;
    margin-bottom: -100px;
}
.new-info4{
    transform: translateY(-118%);
}
.new-info4>h3{
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-info4>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-card5{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1vw;
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: 350px;
    margin-left: 450px;
    margin-top: -350px;
}
.new-card5:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.new-card5>img{
    height: 250px;
    width: 400px;
    border-radius: 4px;
    margin-right: -1vw;
    margin-left: -1vw;
    margin-bottom: -100px;
}
.new-info5{
    transform: translateY(-118%);
}
.new-info5>h3{
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-info5>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-card6{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1vw;
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: 350px;
    margin-left: 900px;
    margin-top: -350px;
}
.new-card6:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.new-card6>img{
    height: 250px;
    width: 400px;
    border-radius: 4px;
    margin-right: -1vw;
    margin-left: -1vw;
    margin-bottom: -100px;
}
.new-info6{
    transform: translateY(-118%);
}
.new-info6>h3{
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
.new-info6>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-left: -24vw;
}
#content4{
    padding: 2vw 8vw;
    background-color: white;
    margin-top: 4vw;
    margin-bottom: 2vw;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
}
#content4>h2{
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    text-decoration: underline;
}
.store-card{
    display: flex;
    gap: 2vw;
    margin-bottom: 10px;
}
.imga{
    position: relative;
}
.imga>img{
    height: 300px;
    width:300px;
    border-radius: 5%;
}
.imga_1{
    background-color: #374553;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 4px;
    color:white;
    z-index: 50;
    opacity: 90%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}
#content5{
    background-color: white;
    margin-top: 41vw;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}
#content5>img{
    height: 320px;
    width: 100%;
    display: flex;
    position: absolute;
}
#contact{
    background-color: #131414;
    width: 100%;
    height: 320px;
    z-index: 50;
    opacity: 50%;
}
#contact-info>h2{
    width: 100%;
    height: 50px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 240px;
    color:white;
    text-decoration: underline;
}
#contact-infoa{
    text-align: center;
    display: flex;
    align-items: center;
}
#contact-infoa>i{
    width: 40%;
    height: 50px;
    font-size: 20px;
    bottom: 0px;
    color:white;
    margin-top: 100px;
}
#contact-info1{
    text-align: center;
    display: flex;
    align-items: center;
}
#contact-info1>p{
    width: 40%;
    height: 50px;
    font-size: 20px;
    bottom: 0px;
    color:white;
}
#footer{
    background-color: #374553;
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    color:white;
    gap: 15vw;
    cursor: pointer;
}
#footer>h6:hover{
    border-bottom: 2px solid white;
}
